# macOS
.DS_Store

# IDEs
.idea/
.vscode/

# iOS
ios/**/*.xcodeproj/xcuserdata/
ios/**/*.xcodeproj/project.xcworkspace/xcuserdata/
ios/**/DerivedData/
ios/**/*.xcconfig
!ios/**/Config/*.xcconfig.template
ios/**/Pods/
ios/**/*.xcworkspace
ios/**/build/

# Android
android/.gradle/
android/app/build/
android/local.properties
android/.idea/
android/build/
android/captures/
android/.externalNativeBuild/
android/.cxx/

# Backend
backend/node_modules/
backend/.env
backend/lib/
backend/dist/

# Local configuration
local.properties

# Temporary files
/tmp/
*.swp
*.swo
*~
